body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "ChomskyRegular";
  overflow-x: scroll;
}

@font-face {
  font-family: "chomsky";
  src: url("./fonts/chomsky-webfont.woff2") format("woff2"),
    url("./fonts/chomsky-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#selector {
  margin-bottom: 10px;
}

.main-article-div img {
  height: 350px;
  width: 620px;
  float: left;
  margin-right: 20px;
}

#header {
  font-family: "Chomsky";
  font-weight: 550;
  font-style: normal;
  font-size: 55px;
  line-height: 140px;
  width: 50%;
  float: left;
  color: black;
}

.footer-container {
  background-color: #2222228c;
}

.backgroundgrey {
  background-color: #EDEDED;
  padding-top: 60px;
}

.whitebackground {
  background-color: white;
  padding-top: 60px;
}

.footer {
  font-family: "Nobel",Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 1.5em;
  font-size: 12px;
  text-transform: uppercase;
  width: 1245px;
  height: 400px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.login {
  margin-top: 60px;
  font-family: "ChomskyRegular";
  font-weight: 900;
  float: right;
  /* line-height: 140px; */
  font-size: 16px;
}

a {
  color: grey;
}

.sign-form {
  margin-top: -40px; 
}

#signup {
  margin-left: 20px;
  float: right;
}

.header {
  width: 1245px;
  margin: 0 auto;
  height: 140px;
}

.item-button {
  text-transform: uppercase!important;
  color: #5B5B5B;
  font-size: 1em;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  letter-spacing: 1px;
}

#create-article-message {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 14px;
}

#stripe-form {
  border: 1px solid grey;
  width: 300px;
  padding: 3%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(211, 211, 211);
}

#subscribe {
  background-color: #dfc38b;
  color: rgb(40, 39, 39);
}

a#admin-button {
  margin-right: 15px;
}

a#logout-link {
  margin-right: 15px;
}

a#profile-link {
  margin-right: 15px;
}

.login-form {
  margin-top: -45px;
}

#cancel {
  margin-top: 5px;
}

#signup-form {
  margin-bottom: 15px;
}

#back-button {
  margin-top: -1px;
  margin-left: 5px;
}

a#back-button.signup-back {
  margin-left: -4px;
}

.stripe-input {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(249, 248, 248);
}

.nav {
  background-color: rgba(249, 249, 249, 0.715);
}

.nav-bar {
  width: 1245px;
  margin: 0 auto;
}

.main {
  width: 1245px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 400px 300px 300px;
  grid-row-gap: 15px;
}

.main2 {
  width: 1245px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 600px auto;
  grid-row-gap: 15px;
}

#seperator {
  border-right: 1px solid lightgrey;
  height: 90%;
  margin-top: 5%;
}

#border-top {
  margin-top: -20px;
  border-top: 5px solid black;
  padding-top: 20px;
  position: relative;
}

.item-a {
  padding-right: 7px;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.item-b {
  padding-left: 5%;
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.item-c {
  padding-right: 10px;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.item-d {
  padding-right: 10px;
  padding-left: 10px;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.item-e {
  margin-top: 5%;
  padding-left: 10px;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.item-f {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.item-g {
  margin-top: -22px;
  padding-left: 5%;
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.item-h {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.item-i {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
  font-family: "ChomskyRegular";
  padding-bottom: 5%;
}

.item-j {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 3;
  grid-row-end: span 1;
  background-color: grey;
  width: 110%;
  margin-left: -100px;
}

.item-k {
  margin-top: 2em;
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 4;
  grid-row-end: span 1;
}

.advertising {
  background-color: rgb(249, 245, 236);
  height: 100%;
  width: 100%;
  padding: 2%;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  letter-spacing: 2px;
  color: grey;
}

.main-article-div {
  font-family: "ChomskyRegular";
  display: grid;
  grid-template-columns: 630px 1fr;
  grid-template-rows: 400px;
}

.main-article-auth {
  font-family: "ChomskyRegular";
  height: 800px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}

.main-article-upper{
  height: auto;
  min-height: 380px;
}

.main-article-auth img {
  height: 350px;
  width: 620px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.current-text {
  height: 100%;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.text {
  height: 300px;
  overflow: hidden;
  margin-bottom: 10px;
}

#selector {
  height: 15px;
}

.ui.form .four.wide.field {
  height: 60px;
}

.ui[class*="right labeled"].icon.button {
  height: 40px;
}

#article-title {
  margin-bottom: 20px!important;
}

#article-title {
  font-family: "ChomskyRegular";
  font-size: 33px;
  color: #3c3c3b;
}

#article-body {
  font-size: 16px;
  color: #706f6f;
}

h2#article-title {
  margin: 0;
}

.side-articles {
  color: #3c3c3b;
  background-color: white;
  padding: 20px;
  height: 96%;
  position: relative;
}

.side-articles h2 {
  border-top: 10px double lightgrey;
  padding-top: 10px;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-weight: 100;
}

.side-article {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

#side-article-title {
  color: #3c3c3b!important;
  font-family: "ChomskyRegular";
}

#next-button {
  bottom: 30px;
  right: 10px;
  position: absolute;
}

#prev-button {
  bottom: 30px;
  position: absolute;
}

#border-top h4 {
  color: #3c3c3b;
  font-family: "ChomskyRegular";
  font-size: 22px;
  height: 50px;
}

#featured-img {
  margin-top: 2%;
  width: 100%;
  height: 170px;
  margin-bottom: 20px;
}

#featured-body{
  margin-top: 10px;
  height: 30px;
}

#border-top h5 {
  font-size: 14px;
  color: #706f6f;
  font-family: "ChomskyRegular";
  margin-bottom: 30px;
}

#border-top p {
  text-transform: uppercase;
}

.free-read-img {
  width: 100%;
  height: 540px;
}

#border-top h2 {
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-weight: 100;
}

.free-read h1 {
  font-family: "ChomskyRegular"
}

.free-read p {
  font-size: 16px;
}

#cat-date {
  color: grey;
  text-transform: uppercase;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  letter-spacing: 1px;
}

#red {
  color: red;
  text-transform: uppercase;
}

.headlines-main {
  background-color: grey;
}

.carousel {
  padding-left: 100px;
  padding-right: 1px;
}

.carousel-item h3 {
  font-family: "ChomskyRegular";
}

.carousel-item {
  font-family: "ChomskyRegular";
  height: 230px;
  background-color: #EEE;
  overflow: hidden;
}

.carousel-item img {
  height: 100%;
  width: 100%;
}

.overlay  {
  position: absolute;
  top: 40%;
  background-color: rgba(219, 223, 219, 0.811);
  width: 300px;
  padding: 1%;
  min-height: 35%;
  max-height: 30%;
  padding-left: 3%;
  color: rgb(33, 33, 33);
}

.underline:hover {
  text-decoration: underline;
}

.car-head {
  color: white;
  padding-top: 10px;
  padding-left: 100px;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-weight: 100;
}

button {
  background: transparent;
}

.car-icon {
  font-size: 36px;
}

.ui.circular.button {
  color: black;
  border-radius: 10em;
  height: 35px;
  font-size: 25px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.profile {
  width: 1245px;
  margin: 0 auto;
  padding-bottom: 100px;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
}

.profile h1, h4{
  font-family: "ChomskyRegular";
}

.admin {
  width: 1245px;
  margin: 0 auto;
  padding-bottom: 100px;
}

#publish-header {
  font-family: "ChomskyRegular";
  text-align: left;
  height: 50px;
}

#message {
  margin-top: 0;
  height: 50px;
}

.comments-div {
  padding-top: 1rem;;
}

#title-slim {
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-weight: 200;
}

.comment-text {
  width: 800px;
}

.comment {
  /* border-bottom: 1px solid grey; */
  padding-bottom: 10px;
  margin-bottom: 25px;
  padding-right: 10px;
  position: relative;
}

#comment-role {
  font-style: italic;
  font-weight: 100;
  color: grey;
  margin-left: 20px;
}

#comment-date {
  font-style: italic;
  font-weight: 100;
  color: grey;
}

.elipse {
  display: none;
  right: 50px;
  float: right;
  color: grey;
  cursor: pointer;
}

.comment:hover .elipse {
  display: block;
}

.comment-menu {
  position: absolute;
  display: inline-block;
  top: 25px;
  right: 5px;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  line-height: 20px;
  margin-right: 10px;
  border: 1px solid grey;
  padding: 5px 15px;
  width: 200px;
  text-align: left;
  border-radius: 4px;
  background-color: rgb(247, 246, 246);
  box-shadow: 3px 3px 5px #888888;
}

#comment-edit {
  margin-left: 10px;
  cursor: pointer;
}

#comment-delete {
  margin-left: 30px;
  cursor: pointer;
}

.cancle {
  height: 36px;
}

.inline {
  width: 30%;
}

.inline h2, .inline p {
  display: inline-block;
}

.inline p {
  margin-left: 5px;
}

#heart {
  margin-left: 40px;
  margin-top: -8px;
  font-size: 20px;
}

#heart-active {
  margin-left: 40px;
  margin-top: -8px;
  font-size: 20px;
  box-shadow: 3px 3px 5px #888888;
}

#plus {
  color: blue;
  font-size: 14px;
  transition: transform .2s;
}

.upvote:hover #plus {
  transform: scale(1.8); 
  cursor: pointer;
}

.trending #article-title {
  font-family: "ChomskyRegular";
  font-weight: 600;
}

#article-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.trending {
  padding-top: 1em;
  font-family: "ChomskyRegular";
  text-transform: normal!important;
  display: grid;
  grid-template-columns: 150px 550px 1fr 1fr;
  grid-template-rows: 220px;
}

#rank {
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-size: 10em;
  grid-column-start: 1;
  grid-row-start: 1;
  margin-top: -30px;
  text-align: center;
  color: darkgoldenrod;
}

.info {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 100%;
}

.bubble1 {
  grid-column-start: 3;
  grid-row-start: 1;
  width: 85%;
  text-align: center;
}

.speech-bubble {
  margin-top: -20px;
  margin-bottom: 60px;
	position: relative;
	background: #dfc38b;
  border-radius: .4em;
  height: 100px;
  padding:10% 5%;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: rgb(96, 95, 95);
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-top-color: #dfc38b;
	border-bottom: 0;
	border-left: 0;
	margin-left: -14px;
	margin-bottom: -28px;
}

.bubble2 {
  grid-column-start: 4;
  grid-row-start: 1;
  text-align: center;
  width: 85%;
  margin-left: 10px;
}

.speech-bubble2 {
  margin-top: -20px;
  margin-bottom: 60px;
	position: relative;
	background: #dfc38b;
  border-radius: .4em;
  height: 100px;
  padding:10% 5%;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: rgb(96, 95, 95);
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-top-color: #dfc38b;
	border-bottom: 0;
	border-left: 0;
	margin-left: -14px;
	margin-bottom: -28px;
}

.bubble1 #red {
  padding: 15px 0;
  border-top: 1px solid grey;
}

.bubble2 #red {
  padding: 15px 0;
  border-top: 1px solid grey;
}