body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "ChomskyRegular";
}

#selector {
  margin-bottom: 10px;
}

img {
  max-height: 350px;
  float: left;
  margin-right: 20px;
}

#header {
  font-family: "ChomskyRegular";
  font-weight: 550;
  font-style: normal;
  font-size: 55px;
  line-height: 140px;
  width: 50%;
  float: left;
}

.footer-container {
  background-color: #2222228c;
}

.backgroundgrey {
  background-color: #EDEDED;
  padding-top: 60px;
}

.footer {
  font-family: "Nobel",Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 1.5em;
  font-size: 12px;
  text-transform: uppercase;
  width: 1245px;
  height: 400px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.login {
  font-family: "ChomskyRegular";
  font-weight: 900;
  float: right;
  line-height: 140px;
  font-size: 16px;
}

a {
  color: grey;
}

#signup {
  margin-left: 20px;
  float: right;
}

.header {
  width: 1245px;
  margin: 0 auto;
  height: 140px;
}

.item-button {
  text-transform: uppercase!important;
  color: #5B5B5B;
  font-size: 1em;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  letter-spacing: 1px;
}

#create-article-message {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 14px;
}

#stripe-form {
  border: 1px solid grey;
  width: 300px;
  padding: 3%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(211, 211, 211);
}

#subscribe {
  background-color: rgb(191, 176, 159);
}

a#admin-button {
  margin-right: 2%;
}

a#logout-link {
  margin-right: 2%;
}

a#profile-link {
  margin-right: 1%;
}

#login-form {
  margin-top: -2px;
  margin-left: 20px;
}

#signup-form {
  margin-bottom: 15px;
}

#back-button {
  margin-top: -1px;
  margin-left: 5px;
}

a#back-button.signup-back {
  margin-left: -4px;
}

.stripe-input {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(249, 248, 248);
}

.nav {
  background-color: rgba(249, 249, 249, 0.715);
}

.nav-bar {
  width: 1245px;
  margin: 0 auto;
}

.main {
  width: 1245px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 400px 300px;
  grid-row-gap: 15px;
}

#seperator {
  border-right: 1px solid lightgrey;
  height: 90%;
  margin-top: 5%;
}

#border-top {
  margin-top: -20px;
  border-top: 5px solid black;
  padding-top: 20px;
  position: relative;
}

.item-a {
  padding-right: 7px;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.item-b {
  padding-left: 5%;
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.item-c {
  padding-right: 10px;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.item-d {
  padding-right: 10px;
  padding-left: 10px;
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.item-e {
  margin-top: 5%;
  padding-left: 10px;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.main-article-div {
  font-family: "ChomskyRegular";
}

#article-title {
  font-family: "ChomskyRegular";
  font-size: 33px;
  color: #3c3c3b;
}

#article-body {
  font-size: 16px;
  color: #706f6f;
}

h2#article-title {
  margin: 0;
}

.side-articles {
  color: #3c3c3b;
  background-color: white;
  padding: 20px;
  height: 95%;
  position: relative;
}

.side-articles h2 {
  border-top: 10px double lightgrey;
  padding-top: 10px;
  /* font-weight: 100; */
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
}

.side-article {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

#side-article-title {
  color: #3c3c3b!important;
  font-family: "ChomskyRegular";
}

#next-button {
  bottom: 30px;
  right: 10px;
  position: absolute;
}

#prev-button {
  bottom: 30px;
  position: absolute;
}

#border-top h4 {
  color: #3c3c3b;
  font-family: "ChomskyRegular";
  font-size: 22px;
  height: 50px;
}

#border-top img {
  margin-top: 2%;
  max-width: 100%;
  height: 170px;
  margin-bottom: 20px;
}

#border-top h5 {
  font-size: 14px;
  color: #706f6f;
  font-family: "ChomskyRegular";
  margin-bottom: 50px;
}

#border-top p {
  text-transform: uppercase;
  color: red;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
}