#paywall {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100%;
  color: rgb(81, 80, 80);
  z-index: 100;
  text-align: center;
  overflow: hidden;
  
}

.paywall-in {
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
  background-color: #24242492;
  transition: background-color 0.3s 0.4s;
}

.paywall-out {
  -webkit-animation: slideOut 0.3s forwards;
  animation: slideOut 0.3s forwards;
  background-color: transparent;
}

@-webkit-keyframes slide {
  100% { right: 0; }
}

@keyframes slide {
  100% { right: 0; }
}

@-webkit-keyframes slideOut {
  0% { right: 0; }
}

@keyframes slideOut {
  0% { right: 0; }
}

#panel {
  text-align: right;
  width: 40%;
  background-color: rgb(230, 230, 230);
  z-index: 200;
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  transition: transform 0.3s 0s;
  transform: translateY(-50px);
}

#panel-in {
  text-align: right;
  width: 40%;
  background-color: rgb(230, 230, 230);
  z-index: 200;
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  transition: transform 0.3s 0s;
  transform: translateY(0px);
}

.subscrip {
  background-color: cornsilk;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 40%;
  padding: 60px 5%;
}